* {
  font-family: 'Work Sans', sans-serif;

  box-sizing: border-box;
}

html {
  font-size: 16px;

  height: 100%;
}

body {
  padding: 4rem 1rem 2rem;
  margin: 0;

  min-height: 100%;

  background: #F1B8EC;

  display: grid;
  align-items: center;

  grid-template-columns: 1fr Min(calc(40ch), calc(100%)) 1fr;
}

main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;

  grid-column: 2;

  h1,
  p {
    margin: 0;
    padding: 0;

    color: #000000EE;
  }

  h1 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 94%;
    letter-spacing: -0.02em;

    font-family: 'Fugaz One', cursive;
  }

  h2 {
    margin: 0;
    line-height: 0;

    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4em;
    letter-spacing: -0.02em;

    font-family: 'Fugaz One', cursive;
  }

  h3 {
    margin: 0;
    line-height: 0;

    font-weight: bolder;
    font-size: 1.1rem;
    line-height: 1.1em;
    letter-spacing: -0.02em;

    font-family: 'Work Sans', sans-serif;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 1.2em;

  }

  img#me {
    width: 100%;

    object-fit: cover;
    aspect-ratio: 1;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;

    &.small {
      gap: 1rem;
    }
  }
}

main.col {
  flex-direction: column;
}

@media screen and (min-width: 20rem) {
  main {
    flex-direction: column;
  }

  body.big {
    grid-template-columns: 1fr Min(calc(40ch), calc(100%)) 1fr;
  }
}

@media screen and (min-width: 40ch) {
  body.big {
    grid-template-columns: 1fr Min(calc(40ch), calc(100%)) 1fr;
  }
}


@media screen and (min-width: 80ch) {
  body {
    padding: 2rem 1rem;
    grid-template-columns: 1fr Min(calc(40ch), calc(100%)) 1fr;
  }

  body.big {
    grid-template-columns: 1fr Min(calc(80ch), calc(100%)) 1fr;
  }

  main {
    flex-direction: row;
  }
}

.links {
  display: flex-wrap;
  flex-direction: row;
  gap: 1rem;

  a {
    margin-right: 1rem;
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dashed;

  color: #000000BB;
}

article {
  p {
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  h2 {
    margin: 1rem 0 0.6rem;
  }

  h3 {
    margin: 1rem 0 0.6rem;
  }
}

ul {
  margin: 0 0 0 1rem;
  padding: 0;
}

time {
  opacity: 0.5;
  font-family: 'Courier New', Courier, monospace;
}

.pride {
  position: absolute;
  top: 1rem;
  left: 1rem;
}