* {
  font-family: 'Work Sans', sans-serif;

  box-sizing: border-box;
}

html {
  font-size: 16px;

  height: 100%;
}

body {
  padding: 2rem 1rem;
  margin: 0;

  min-height: 100%;

  background: #F1B8EC;

  display: grid;
  place-items: center;

  grid-template-columns: 1fr Min(calc(40ch), calc(100% - 2rem)) 1fr;
  gap: 1.5rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  grid-column: 2;

  h1,
  p {
    margin: 0;
    padding: 0;

    color: #000000EE;
  }

  h1 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 94%;
    letter-spacing: -0.02em;

    font-family: 'Fugaz One', cursive;
  }

  h2 {
    margin: 0;
    line-height: 0;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 95%;

    a {
      text-decoration: underline;
      text-decoration-style: dashed;

      color: #000000BB;
    }
  }

  img#me {
    width: 100%;

    object-fit: cover;
    aspect-ratio: 1;
  }

  section {
    display: grid;
    grid-auto-flow: row;
    gap: 24px;
  }
}