body {
  overflow: hidden;

  padding: 0;

  font-family: 'Work Sans', sans-serif;

  background: #FA66ED33;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 48px;

  font-size: 24px;

  height: 100%;

  h1, p {
    margin: 0;
    padding: 0;

    color: #000000EE;
  }

  h1 {
    font-weight: normal;
    font-size: 3em;
    line-height: 94%;
    letter-spacing: -0.02em;

    font-family: 'Fugaz One', cursive;
  }

  h2 {
    margin: 0;
    line-height: 0;
  }

  p {
    font-weight: 500;
    font-size: 1em;
    letter-spacing: -0.01em;
    line-height: 95%;

    a {
      text-decoration: underline;
      text-decoration-style: dashed;

      color: #000000BB;
    }
  }

  section {
    img {
      width: 100%;
      max-height: 400px;

      object-fit: cover;
      aspect-ratio: 1;
    }

    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      padding: 0 4em;

      display: grid;
      grid-auto-flow: row;
      gap: 24px;
    }
  }
}

// Desktop and larger
@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);

    font-size: 16px;

    section {
      &:nth-child(1) {
        display: block;

        grid-column: 2 / 3;
      }

      &:nth-child(2) {
        max-width: 348px;

        padding: 0;
      }
    }
  }
}
