<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Martin Rosenberg — Software connoisseur</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/style.css">

  <meta name="description"
    content="hey, my name is martin, and i am a developer/generalist/software connoisseur based in prague, the capital of the czech Republic. find more info about me on my github page." />
  <meta property="og:title" content="martin rosenberg – software connoisseur" />
  <meta property="og:description"
    content="hey, my name is martin, and i am a developer/generalist/software connoisseur based in prague, the capital of the czech Republic. find more info about me on my github page." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://marrrt.in" />
  <meta property="og:image" content="https://assets.marrrt.in/og.png" />

  <script defer data-domain="marrrt.in" src="https://analytics.marrrt.in/js/plausible.js"></script>
</head>

<body>
  {% block content %} {% endblock %}
</body>

</html>