{% extends "base.html" %}

{% block content %}
<main class="col">
  <section class="small">
    <a href="/">← back to home</a>
    <h1 class="title">
      {{ section.title }}
    </h1>
  </section>
  <section class="cv">
    <p>
      Martin Rosenberg is a passionate software engineer with multiple years of experience
      in building highly-available and performant software. built
      numerous functional websites, worked in several teams in
      start-ups of different sizes and led a successful and productive
      development team at Alter (acquired by Google).
    </p>
    <h2>employment history</h2>
    <p>
      <time>sep 2024 - present</time><br>
      <b>teacher, grammar school Nad Alejí, Prague</b> — teaching computer science seminars to junior and senior
      students at a high school which i attended myself. <br><br>

      for info about teaching, take a look <a href="teaching">here</a> (only in czech).
    </p>
    <p>
      <time>aug 2024 - present</time><br>
      <b>software engineer, <span style="user-select: none;" title="a stealth startup">😬😬😬</span></b>
    </p>
    <p>
      <time>sep 2022 - jul 2024</time><br>
      <b>software engineer, Google</b>
    </p>
    <p>
      <time>feb 2021 - sep 2022</time><br>
      <b>software generalist, Alter</b> — led a small but efficient web development team creating internal tooling for
      the
      next-gen
      avatar system with vast customization options.
    </p>
    <p>
      <time>apr 2020 - dec 2021</time><br>
      <b>software generalist, BeApp</b> — i was a part of a team of developers working throughout the whole stack to
      create a
      new
      concert and festival streaming platform. top world pop and hip-hop artists streamed on our
      platform with users themselves creating musical content.
    </p>
    <p>
      <time>apr 2019 - oct 2020</time><br>
      <b>intern software engineer, Qusion</b> — had the opportunity to work in a fast-paced digital lab on websites and
      web applications for big czech companies and start-ups, also developing the internal content management system for
      clients.
    </p>
    <h2>education</h2>
    <p>
      <time>sep 2023 - present</time><br>
      <b>computer science, faculty of mathematics and physics, charles university</b>
    </p>
    <h2>skills</h2>
    <p>typescript, svelte, vue, elixir, elm, rust</p>
  </section>
</main>
{% endblock content %}