{% extends "base.html" %}

{% block content %}
<main>
  <img id="me" src="me.webp" alt="this is me! martin" />

  <section>
    <h1>martin rosenberg</h1>
    <p>a generalist software developer from <a href="https://en.wikipedia.org/wiki/Prague">prague</a> coding mainly
      <i>insert any technology</i> and passionate about functional programming.
      <br><br>
      i'm currently employed at <a href="https://google.com">Google</a>.
      <br><br>
      to hit me up, send me an <a href="mailto:nitram.rosenberg@gmail.com">email</a>.
      <br><br>
      find me on <a href="https://github.com/rosenbergm">github</a> and <a
        href="https://twitter.com/therosmar">twitter</a>.
      <br><br>
    </p>
    <h2>🏳️‍🌈</h2>
  </section>
</main>
{% endblock content %}