{% extends "base.html" %}

{% block content %}
<main>
  <img id="me" src="me.webp" alt="this is me! martin" />

  <section>
    <section class="small">
      <h1>martin rosenberg</h1>
      <a href="blog">blog →</a>
    </section>
    <p>a generalist software developer from <a href="https://en.wikipedia.org/wiki/Prague" target="_blank">prague</a>
      coding mainly
      <i>insert any technology</i> and passionate about functional programming.
      <br><br>
      i worked as a freelancer, at some czech companies making stuff for other companies and a bunch of american
      start-ups. i also tought kids how to code.
      <br><br>
      i'm currently employed at <a href="https://google.com" target="_blank">Google</a>.
      <br><br>
      wanna learn more? find me on <a href="https://github.com/rosenbergm" target="_blank">github</a>, <a
        href="https://www.linkedin.com/in/martin-rosenberg/" target="_blank">linkedin</a> and <a
        href="https://twitter.com/therosmar" target="_blank">twitter</a>.
      <br><br>
      wanna chat? send me an <a href="mailto:nitram.rosenberg@gmail.com">email</a>!
      <br><br>
    </p>
    <h2 class="pride">🏳️‍🌈</h2>
  </section>
</main>
{% endblock content %}