{% extends "base.html" %} {%block title%} martin rosenberg {%endblock%} {% block
content %}
<main>
  <section>
    <section class="small">
      <h1>martin rosenberg</h1>
      <div class="links">
        <a href="https://progalej.cz" target="_blank"
          >výuka (teaching)&nbsp;→</a
        >
        <a href="mw">my&nbsp;work&nbsp;→</a>
        <a href="cv">cv&nbsp;→</a>
      </div>
    </section>
    <p>
      a generalist software developer from
      <a href="https://en.wikipedia.org/wiki/Prague" target="_blank">prague</a>
      coding mainly
      <i>insert any technology</i> and passionate about functional programming.
      <br /><br />
      i worked as a freelancer, at some czech companies making stuff for other
      companies and a bunch of american start-ups. also at google. i also taught
      kids how to code.
      <br /><br />
      currently teaching a seminar at
      <a href="https://alej.cz" target="_blank">Gymnázium Nad Alejí</a>.
      however, <strong>open for job/freelance/project opportunities</strong>.
      <br /><br />
      wanna learn more? find me on
      <a href="https://github.com/rosenbergm" target="_blank">github</a> or
      <a href="https://www.linkedin.com/in/martin-rosenberg/" target="_blank"
        >linkedin</a
      >
      <br /><br />
      wanna chat? send me an
      <a href="mailto:nitram.rosenberg@gmail.com">email</a>!
    </p>
    <h2 class="pride">🏳️‍🌈</h2>
  </section>
</main>
{% endblock content %}
