{% extends "base.html" %}

{% block content %}
<main class="col">
  <section class="small">
    <a href="/">← back to home</a>
    <h1 class="title">
      {{ section.title }}
    </h1>
  </section>
  <section>
    <ul>
      <li><a href="https://martinovykavarny.cz">martinovy kavárny</a> — a site where i rate coffee places. also
        available as an <a href="https://play.google.com/store/apps/details?id=cz.martinovykavarny.app">android app</a>.
      </li>
      <li><a href="https://hrajezasedneskasparta.cz">hraje zase dneska sparta?</a> — it tells you when Sparta (a beloved
        football team here in Prague) plays their games (so you can avoid the <em>people</em> on the street)</li>
      <li><a href="https://github.com/rosenbergm/plejady">event system</a> — made for a school event during my
        graduation year of high school as a part of my leaving exam. written in elixir, able to serve hundreds of
        students trying to sign up in real-time.</li>
      <li>and many more... — just look at my <a href="https://github.com/rosenbergm">github profile</a></li>
    </ul>
  </section>
</main>
{% endblock content %}